@if (isOpen()) {
  <div class="modal-backdrop fade-in" (click)="onBackdropClick()">
    <div class="modal-container slide-up" (click)="$event.stopPropagation()">

      <div class="modal-header">
        <h3 class="modal-title">{{ title() }}</h3>
        <button class="close-btn" (click)="close.emit()">
          <span class="material-icons-round">close</span>
        </button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <ng-content select="[modal-actions]"></ng-content>
      </div>

    </div>
  </div>
}
