<div class="app-card">
      <header class="card-header" [ngClass]="config.variant || 'primary'">
        <div class="header-icon" *ngIf="config.icon">
          <span class="material-icons-round">{{ config.icon }}</span>
        </div>
        <div class="header-info">
          <div class="top-row" *ngIf="config.subtitle || config.version">
            <span class="subtitle">{{ config.subtitle }}</span>
            <span class="badge" *ngIf="config.version">{{ config.version }}</span>
          </div>
          <h1 class="title">{{ config.title }}</h1>
        </div>
        <div class="header-actions">
          <ng-content select="[actions]"></ng-content>
        </div>
      </header>

      <div class="card-body">
        <ng-content></ng-content>
      </div>
    </div>