<div class="dashboard-layout">
  
  <div class="mobile-backdrop" 
       [class.show]="mobileOpen()"
       (click)="closeMobileSidebar()">
  </div>

  <aside class="dashboard-sidebar" 
         [class.is-collapsed]="desktopCollapsed()"
         [class.is-mobile-open]="mobileOpen()">
         
    <app-sidebar></app-sidebar>
    
  </aside>

  <main class="dashboard-main">
    <app-topbar></app-topbar>
    
    <div class="content-scrollable">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>