@use 'abstracts/mixins' as *;

.cg {
  display: grid;

  &--2 {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-5);

    @include respond-to('tablet') { grid-template-columns: 1fr; }
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-5);

    @include respond-to('laptop') { grid-template-columns: repeat(2, 1fr); }
    @include respond-to('tablet') { grid-template-columns: 1fr; }
  }
}
